
*
{
    margin: 0;
    padding: 0;
    background: #f5f6f7;
}
header {
    text-align:  center;
    margin: 2% 29% 2% 26%;
    font-family: Roboto, FF DIN, sans-serif;
    font-size: 14px;
    font-weight: 900;
}

ul.hr {
    margin: 0;
    padding: 4px;
}

ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

a {
    color: #16a085;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}




img {
    text-align: center;
    width: 100%;
    height: 48.6%;
}
.tx {
    margin: 9% 25% 2% 27%;
    font-family: Roboto sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}
.top {
    margin: 0 9% 0 9%;
    font-family: Roboto sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: center
}
button {

    border-radius: 3px;
    background-color: #16a085;
    width: 195px;
    height: 51px;
    margin-top: 41px;
    margin-bottom: 94px;
    font-family: GothamRounded sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}



footer {
    background-color: #ffffff;
    padding: 3%;
    text-align: right;
    font-family: Roboto sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
}
footer p {
    background: inherit;
    margin-right: 8%;

}